name: Deploy Rebel Station
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest    
    steps:
    - uses: actions/checkout@v1
    - name: Installing Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 16
    - name: Installing dependencies
      run: npm install
    - name: Building project
      run: npm run build
    - name: Deploy to S3
      uses: jakejarvis/s3-sync-action@v0.5.1
      with:
        args: --acl public-read --follow-symlinks --delete
      env:
        AWS_S3_BUCKET: station.terrarebels.net
        AWS_ACCESS_KEY_ID: ${{ secrets.S3_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.S3_SECRET_ACCESS_KEY }}
        AWS_S3_ENDPOINT: ${{ secrets.S3_ENDPOINT }}
        AWS_REGION: 'us-east-1'
        SOURCE_DIR: "build"
